.container {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  margin-right: auto;
  margin-left: auto;
  background-color: #f9fafb;
  display: flex;
  justify-content: center;
  align-items: center;
}
